<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Добавить заказ</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
  <link rel="stylesheet" href="/sk/static/style.css">
</head>

<body>
  <header id="admin-navbar"></header>

  <main>
    <h2>ДОБАВИТЬ ЗАКАЗ</h2>

    <form method="post">
      <div>
        <label for="user-id">Пользователь</label>
        <select class="custom-input" name="user-id" id="user-id">
          <?php
          if (isset($users_data)) {
            foreach ($users_data as $this_user_data) {
              echo "<option value='{$this_user_data["id"]}'>
                {$this_user_data["id"]} - {$this_user_data["name"]}
              </option>";
            }
          }
          ?>
        </select>
      </div>

      <div>
        <label for="material-id">Тип материала</label>
        <select class="custom-input" name="material-id" id="material-id" required>
          <?php
          if (isset($materials_data)) {
            foreach ($materials_data as $this_material_data) {
              echo "<option value='${this_material_data["id"]}'>
                {$this_material_data["name"]}
              </option>";
            }
          }
          ?>
        </select>
      </div>

      <div>
        <label for="volume">Объем</label>
        <input class="custom-input" type="number" min="0" pattern="\d+" name="volume" id="volume" required>
      </div>

      <div>
        <label for="date-of-delivery">Дата доставки</label>
        <input class="custom-input" type="date" name="date-of-delivery" id="date-of-delivery" required>
      </div>

      <div>
        <label for="address">Адрес доставки</label>
        <input class="custom-input" type="text" name="address" id="address" required>
      </div>

      <div>
        <div>Время доставки</div> 
        
        <div>
          <input type="radio" name="time-of-delivery" id="morning-time" value="morning-time" required>
          <label for="morning-time">8:00-15:00</label>
        </div>
        
        <div>
          <input type="radio" name="time-of-delivery" id="evening-time" value="evening-time">
          <label for="evening-time">15:00-23:00</label>
        </div>
      </div>

      <div>
        <div>Дополнительные параметры</div>

        <div>
          <input type="checkbox" name="can-truck-go-through" id="can-truck-go-through">
          <label for="can-truck-go-through">Может проехать грузовик</label>
        </div>

        <div>
          <input type="checkbox" name="is-there-credit" id="is-there-credit">
          <label for="is-there-credit">Оплата в кредит</label>
        </div>
      </div>

      <input type="submit" value="Принять">
    </form>
  </main>  

  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="/sk/static/navbar.js"></script>
</body>
</html>