<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Заказ успешно создан</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <link rel="stylesheet" href="/sk/static/style.css">
  </head>

  <body>
    <header id="admin-navbar"></header>

    <main>
      <h2>ЗАКАЗ УСПЕШНО ПРОВЕРЕН</h2>

      <div>Спасибо за ваш труд!</div>

      <div class="btns-container">
        <a class="link-empty-decoration" href="/sk/admin_orders_list.php">
          <input type="button" value="Вернуться">
        </a>
      </div>
    </main>

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/sk/static/navbar.js"></script>
  </body>
</html>
