<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Статистика по заказам</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <link rel="stylesheet" href="/sk/static/style.css">
  </head>

  <body>
    <header id="customer-navbar"></header>

    <main>
      <h2>СТАТИСТИКА ПО ЗАКАЗАМ</h2>
      <canvas id="statistics"></canvas>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/sk/static/navbar.js"></script>
    <script src="/sk/static/chart.js"></script>
    <script src="/sk/static/chart-utils.min.js"></script>
  </body>
</html>
